.mat-card {
  padding: 24px !important;
  margin-top: 32px;
  background-color: rgb(255, 254, 254);
}
.mat-card:not([class*=mat-elevation-z]) {
  height: 230px;
  width: 531px;
  box-shadow: 0 2px 1px -1px rgb(66, 66, 66),
    0 1px 1px 0 rgb(66, 66, 66),
    0 1px 3px 0 rgb(66, 66, 66);
}
.mat-card-header {
  color: rgb(0, 0, 0) !important;
  padding: 0px !important;
}
.mat-card-subtitle {
  color: rgb(0, 0, 0) !important;
}
.iconPrincipal {
  margin-left: 16px;
}
.icon1 {
  color: black;
  position: absolute;
  left: 160px;
  top: 89px;
  font-size: 40px;
  size: 10%;
}
.icon2 {
  color: black;
  position: absolute;
  left: 160px;
  top: 125px;
  font-size: 40px;
}
.icon3 {
  color: black;
  position: absolute;
  left: 160px;
  top: 160px;
  font-size: 40px;
}
.title1 {
  position: absolute;
  left: 190px;
  top: 91px;
  color: #005a8c;
  font-size: 18px;
}
.title2 {
  position: absolute;
  left: 190px;
  top: 130px;
  color: #005a8c;
  font-size: 18px;
}
.title3 {
  position: absolute;
  top: 165px;
  left: 190px;
  color: #005a8c;
  font-size: 18px;
}
.ViewAll {
  color: #007cbf;
  position: absolute;
  left: 160px;
  top: 175px;
  font-size: 16px;
}
.linkToJournal {
  text-decoration: none;
  color: black;
}